

body , a , html {
  color: rgb(4,12,48);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.main-content {
  position: relative;
  top: 4rem;
}

.left {
  display:flex;
  flex-direction: column;
  width: 60%;
  margin:2rem 1.5rem 2rem 1.5rem;
  justify-content: space-between;
}

.right {
  width:40%;
}

.feature {
  display: flex;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.feature .image-container{
  width:40%;
  height:auto;
}

.feature .content {
  width:60%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
}

h4{
  font-size: 1.75vw;
  font-weight: bold;
  line-height: 2vw;
}

h1{
  font-size: 3vw;
  font-weight: bold;
}

video{
  border-bottom: 1px solid rgb(4,12,48)
}


/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(255,211,84)
}

header .content {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

header .logo {
  flex: 1;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
}

nav a:hover {
  font-weight: bold;
}

nav a:active {
  color:rgb(48,80,212)
}


header .mobile {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
}

var {
  font-weight: 300;
  color:rgb(255,211,84)
}

header span {
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
  background-color: rgb(4,12,48);
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.button:hover {
  background-color:rgb(48,80,212);
}

.button a{
  color:white;
  font-size: 1.5vw;
}

.button a:hover{
  color:rgb(4,12,48);
}

.button a:active{
  font-weight: bold;
}

.tablet{
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .tablet {
    display:block;
    width:100%;
  }

  header .tablet ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }

  header .tablet li {
    padding-left: 2rem;
  }

  }
@media only screen and (max-width: 500px) {
  header .desktop {
    display: none;
  }

  header .tablet{
    display:none;
  }

  header .mobile {
  display: block;
  width: 100%;
}

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

  header .mobile li {
    padding: 0;
  }
}


/* start up Section */

#start-up-section {
  display: flex;
  align-items: center;
  background-color: rgb(255,211,84);
}

#start-up-section .content {
  margin-left: 1rem;
  max-width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#start-up-section h4{
  padding:3.5vw 0;
  margin-top:0;
}

@media only screen and (max-width: 850px) {
  #start-up-section .content {
    max-width:70%;
    max-height:100%;
    justify-content: center;
  }

  .button a{
    font-size: 1rem;
  }

  h4{
    font-size: 0.85rem;
    line-height: 1rem;
  }

}

@media only screen and (max-width: 550px) {
  #start-up-section{
    flex-direction: column;
  }

  .left{
    width:100%;
    margin: 0;
  }

  .right{
    width:100%;
    margin:0;
  }

  h1{
    font-size: 3rem;
  }

  h4{
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2rem;
    }

  #start-up-section h4{
      padding:1.5rem 0;
    }

  .button a{
    font-size: 1.25rem;
  }

  #start-up-section .content {
    padding: 2rem 1rem;
    max-width:100%;
    margin: 0;
  }

}

/* Features Section */

#features-section {
  display: flex;
}

#features-section .right{
  border-left: 1px solid rgb(250,211,84);
  padding: 2rem 0;
}

.campus{
padding: 1rem 0 1rem 1rem;
}

.date{
padding: 0 0 1rem 1rem;
border-bottom: 1px solid rgb(250,211,84);
}

.guest{
padding: 1rem 0 1rem 1rem;
background-color: rgb(250,211,84);
}


#features-section a{
  color: blue;
  font-size: 1.25vw;
}

#features-section h1{
  margin-bottom: 1.5rem;
}

#features-section span{
  padding: 0.5rem 0;
  line-height: 2vw;
  font-size: 1.25vw;
}

cite{
  font-size:1.125vw;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
}

.mobile{
  display: none;
}


@media only screen and (max-width: 850px) {

  .mobile{
    display: none;
  }

  #features-section a{
    color: blue;
    font-size: 0.8rem;
  }

  #features-section h1{
    margin-bottom: 1.5rem;
  }

  #features-section span{
    font-size: 0.8rem;
    margin-right:0.5rem;
    line-height: 1rem;
  }

  cite{
    font-size:0.7rem;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
  }
}

@media only screen and (max-width: 550px) {

  .left{
    display: none;
  }

  .mobile{
    display: block;
  }

  .desktop{
    display: none;
  }


  .feature .content {
    width:100%;
  }


.feature{
  flex-direction: column;
}

.feature .image-container{
  width:100%;
}

#features-section a{
  color: blue;
  font-size: 1.25rem;
}

#features-section h4{
padding-top: 1rem;
}

#features-section span{
  padding: 0.5rem 0;
  line-height: 2rem;
  font-size: 1.25rem;
}

#features-section .right{
  padding:0;
}

.campus{
padding: 1rem;
}

.date{
padding:1rem;
border-bottom: 1px solid rgb(250,211,84);
border: none;
}

.guest{
padding:1rem;
  background-color: white;
}

#features-section .right{
  border:none;
  padding: 2rem 0;
}

}

/* Courceses Section */

#courses-section {
  display:flex;
  background-color: rgb(250,211,84);
  flex-direction: column;
  padding: 2rem 3.5rem 1rem 3.5rem;
}

#courses-section .content h1{
  margin-bottom:1rem;
}

.courses{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.course{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin:1rem;
  max-width:30%;
}

.course img{
  width:100%;
  height: auto;
}

.course h4{
  padding:1rem 0;
}

.course .content{
  margin:0 6vw 1.5rem 1rem;
}

.course span, h6{
  font-size: 1.4vw;
  font-weight: 300;
  line-height: 2vw;
}

h6{
  padding-bottom: 1rem;
}

.mobile h4{
  display: none;
}
.mobile{
  display: none;
}

@media only screen and (max-width: 550px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  .mobile h4{
    display: block;
    margin-left: 1rem;
  }
  .course a{
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2rem;
  }
  .course a:hover {
    color:rgb(48,80,212);
  }
  .courses{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .course{
    max-width: 100%;
    margin:0.5rem 1rem;
  }
  #courses-section {
    padding: 2rem 0 1.5rem 0;
  }

}

/* Exhibit Section */

#exhibit-section{
  display:flex;
  flex-direction: column;
  padding: 2rem 0;
}

#exhibit-section .content h1{
  margin-bottom:1rem;
}

.exhibits{
  display:flex;
}

.exhibits .left{
  margin-top: 1rem;
}

.exhibits .right{
 padding: 1rem 0 2rem 0;
}

.fisma{
padding: 1rem 0 1rem 1rem;
background-color: rgb(250,211,84);
}

.newyork{
  padding: 1rem 0 1rem 1rem;
}

#exhibit-section span{
  padding: 0.5rem 0;
  line-height: 1.75vw;
  font-size: 1.25vw;
}

#exhibit-section .left h4{
  margin-top:1.5rem;
}
@media only screen and (max-width: 850px) {
  #exhibit-section span{
    display: none;
  }

  #exhibit-section .left h4{
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #exhibit-section .right{
    display: none;
  }

  #exhibit-section .left{
    display: block;
  }

  #exhibit-section .content h4,span{
    display: none;
  }

  video{
    border:none;
  }
}

footer{
  padding: 1rem 1.5rem 3rem 1.5rem;
  margin-top: -2rem;
  border-top: 1px solid rgb(4,12,48);
}

footer .content{
  display: flex;
  justify-content: space-between;
}

.social i{
  padding: 0 0.5rem;
}

footer a{
  margin-left: 1.5rem;
}

@media only screen and (max-width: 850px) {
footer a, footer{
  font-size: 0.8rem;
}
}

@media only screen and (max-width: 550px) {

  footer span{
    display: block;
  }
  footer span a{
    display:none;
  }
  footer{
    border-top:none;
    margin:0.5rem 0rem 1rem 1rem;
    padding: 0;
  }
}
